.main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main h2{
    font-size: 1.2rem;
    margin-top: 20px;
}

.container {
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
}